body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    top: 0;
    z-index: -1;
}

.btns {
    position: absolute;
    width: 100%;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 20px;
    bottom: 0px;
    padding: 10px;
    box-sizing: border-box;
}

.btns>div {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50px
}

.loader_screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.hidden_screen {
    display: none !important;
}

.main_screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.main_screen_btns_wrap {
    display: flex;
    flex-direction: column;
}





.free_game_screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}





.together_game_screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.together_game_chels_wrap {
    display: flex;
}

.together_game_chels {
    width: 100%;
    border: 1px solid #555;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    cursor: pointer;
}

.together_game_chels_active {
    background-color: #888;
}